header{
    max-width: 100%;
    min-height: 295px;
    background: linear-gradient(92.33deg, #196B78 0.12%, #138496 100%);

    h1{
        color: #CCF8FF;
        text-align: center;
        font-family: Inter;
        font-size: 72px;
        font-weight: 700;
        line-height: 87px;
       margin:0;
       padding-top: 64px;
    }
    p{
        color: #CCF8FFBF;
    text-align: center;
    font-size: 21px;
    margin: 0;
    padding-top: 12px;
    }
}